{% extends 'base.html' %}
{% load static %}


{% block slider %}

{% include 'digitalstore/components/_filters.html' %}





{% endblock slider %}

{% block main %}


<main class="main">
    <div class="content">
        <div class="container">
            <h2 class="content__title">Похожие товары</h2>
            {% if products %}
            <div class="content__cards">


                {% for product in products %}
                {% include 'digitalstore/components/_card.html' %}

                {% endfor %}


            </div>
            {% else %}
            <h1 class="not_found">По вашему запросу ничего не найдено.</h1>
            {% endif %}

            {% include 'digitalstore/components/_pagination.html' %}


        </div>


    </div>

</main>


{% endblock main %}













