{% extends 'base.html' %}
{% load static %}
{% load digitalstore_tags %}

{% block slider %}


{% endblock slider %}

{% block main %}


<main class="main">
    <div class="content">
        <div class="container">
            <h2 class="checkout_title">Оформление заказа</h2>

            <div class="checkout_content">
                <div class="checkout_form">
                    <h2 class="address_title">1. Адрес получения товара</h2>
                    <form action="{% url 'payment' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="block_input">
                            <div class="form-group">
                                {{ form.city }}
                            </div>
                            <div class="form-group">
                                {{ form.address }}
                            </div>
                        </div>

                        <div class="block_input">
                            <div class="form-group">
                                {{ form.region }}
                            </div>
                            <div class="form-group">
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.comment }}
                        </div>

                        <div class="checkout_form_user">
                            <h2 class="address_title">2. Данные получателя товара</h2>
                            <div class="block_input">
                                <div class="form-group">
                                    {{ form.first_name }}
                                </div>
                                <div class="form-group">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.email }}
                            </div>
                        </div>
                        <button class="btn-order" type="submit">Оформить заказ</button>
                    </form>
                </div>


                <div class="check">
                    <h2 class="address_title">Информация об оплате</h2>
                    <div class="order_check_info">

                    {% for item in items %}
                        <div class="count_price">
                            <p>{{ item.product.title }}</p>
                            <div class="price_count">
                                <p class="info_count_price"><span class="count_col">Количество:</span>{{ item.quantity }}</p>
                                <p class="info_count_price"><span class="count_col"> Итого:</span> {% get_correct item.get_total_price %}</p>
                            </div>
                        </div>


                        <div class="line_down_check"></div>

                    {% endfor %}

                        <h2 class="pay_title">Сумма оплаты: {% get_correct order.get_order_total_price %}сум</h2>

                    </div>
                </div>


            </div>
        </div>
    </div>
</main>

{% endblock main %}



















