{% extends 'base.html' %}
{% load static %}
{% load digitalstore_tags %}

{% block slider %}


{% endblock slider %}


{% block main %}

<main class="main">
    <div class="container">
        <div>
            <h1 class="success_payment">Ваша оплата прошла успешно.✅
            <a href="{% url 'main' %}" class="btn_cage2_success_payment">>Продолжить покупки<</a>
            <span class="success_payment">Ожидайте связи с менеджером в ближайшее время.</span>
            </h1>
        </div>
    </div>
</main>

{% endblock main %}















